body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
}
main > form{
    /* background-color: aqua; */
    width: 20%;
    border: 2px solid rgb(163, 158, 158);
    border-radius: 4px;
    margin-top: 10px;
    padding: 20px 40px;
}
main > form >#img-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
main > form > div> img{
    width: 50%;
}
input,button,a{
    display: block;
}
main > form >input{
    width: 95%;
    height: 30px;
    /* margin: 2px; */
    margin-bottom: 5px;
    border-radius: 4px;
    border: 2px solid rgb(128, 128, 128);
    padding-left: 5px;
}
main > form > button{
    width: 99%;
    height: 40px;
    background-color: rgb(71, 157, 238);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}
main > form > a{
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}
main > form >#pos{
    margin-top: 20px;
    position: relative;
    height: 20px;
}
main > form >#pos >h3{
    position: absolute;
    top: -150%;
    left: 45%;
    background-color: white;
}